
<footer><a href="/">Home</a> | <a href="https://github.com/bradleyfalzon/sha1affected">GitHub</a> | <a href="http://au.linkedin.com/in/bradleyfalzon/">LinkedIn</a> | <a href="mailto:&#098;&#114;&#097;&#100;&#064;&#116;&#101;&#097;&#109;&#098;&#114;&#097;&#100;&#046;&#110;&#101;&#116;">Email</a></footer>
</body>
</html>
