
<footer>
    <div class="msg">Created in the Land Down Under by Bradley Falzon</div>
    <div class="links"><a href="/">Home</a> | <a href="https://github.com/bradleyfalzon/sha1affected">GitHub</a> | <a href="http://au.linkedin.com/in/bradleyfalzon/">LinkedIn</a> | <a href="mailto:&#098;&#114;&#097;&#100;&#064;&#116;&#101;&#097;&#109;&#098;&#114;&#097;&#100;&#046;&#110;&#101;&#116;">Email</a></div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55660843-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
