{{template "header.tmpl" .}}

<h1>SHA1 &amp; Google Chrome Checker</h1>

<p>Check a remote server's SSL/TLS certificate to determine whether, and at what stage, a certificate be affected by Google Chrome's new rules.</p>

{{template "checkForm.tmpl"}}

{{template "footer.tmpl" .}}
